################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Yak2D_Android_Test/v16
/TestApp/bin/Debug
/TestApp/obj
/Yak2D.Droid/.vs/Yak2D.Droid/v16
/Yak2D.Droid/bin/Debug
/Yak2D.Droid/obj
